[gcode_macro _MY_MMU_CUT_TIP]
description: Cut filament by pressing the cutter on a pin with a horizontal movement

# -------------------------- Internal Don't Touch -------------------------
variable_output_park_pos: 0 # Dynamically set in this macro

gcode:
    {% set final_eject = params.FINAL_EJECT|default(0)|int %}
    {% set vars = printer['gcode_macro _MMU_CUT_TIP_VARS'] %}
    {% set park_vars = printer['gcode_macro _MMU_PARK'] %}
    {% set pin_loc_x, pin_loc_y = vars.pin_loc_xy|map('float') %}
    {% set pin_park_dist = vars['pin_park_dist']|float %}
    {% set retract_length = vars['retract_length']|float %}
    {% set simple_tip_forming = vars['simple_tip_forming']|default(true)|lower == 'true' %}
    {% set blade_pos = vars['blade_pos']|float %}
    {% set rip_length = vars['rip_length']|float %}
    {% set pushback_length = vars['pushback_length']|float %}
    {% set pushback_dwell_time = vars['pushback_dwell_time']|int %}
    {% set extruder_move_speed = vars['extruder_move_speed']|float %}
    {% set travel_speed = vars['travel_speed']|float %}
    {% set restore_position = vars['restore_position']|default(true)|lower == 'true' %}
    {% set extruder_park_pos = blade_pos + rip_length %}
    {% set cutting_axis = vars['cutting_axis'] %}

    {% if "xy" not in printer.toolhead.homed_axes %}
        MMU_LOG MSG="Automatically homing XY"
        G28 X Y
    {% endif %}

    SAVE_GCODE_STATE NAME=_MMU_CUT_TIP_state # Save after possible homing operation to prevent 0,0 being recorded

    G90 # Absolute positioning
    M83 # Relative extrusion
    G92 E0

    # Step 1 - Calculate initial retract to save filament waste, repeat to allow some cooling
    {% set effective_retract_length = retract_length - printer.mmu.extruder_filament_remaining - park_vars.retracted_length %}
    {% if effective_retract_length > 0 %}
        MMU_LOG MSG="Retracting filament {effective_retract_length|round(1)}mm prior to cut"
        G1 E-{effective_retract_length} F{extruder_move_speed * 60}
        {% if simple_tip_forming %}
            G1 E{effective_retract_length / 2} F{extruder_move_speed * 60}
            G1 E-{effective_retract_length / 2} F{extruder_move_speed * 60}
        {% endif %}
    {% endif %}

    # Step 2 - Perform the cut
    _CUT_TIP_ADJUST_CURRENT
    _MY_MMU_DO_CUT
    _CUT_TIP_RESTORE_CURRENT
    _MMU_EVENT EVENT="filament_cut"

    # Step 3 - Pushback of the tip residual into the hotend to avoid future catching (ideally past the PTFE/metal boundary)
    {% set effective_pushback_length = [pushback_length, retract_length - printer.mmu.extruder_filament_remaining - park_vars.retracted_length]|min %}
    {% if effective_pushback_length > 0 %} 
        MMU_LOG MSG="Pushing filament fragment back {effective_pushback_length|round(1)}mm after cut"
        G1 E{effective_pushback_length} F{extruder_move_speed * 60}
        G4 P{pushback_dwell_time}
        G1 E-{effective_pushback_length} F{extruder_move_speed * 60}
    {% endif %}

    # Final eject is for testing
    {% if final_eject %}
        G92 E0
        G1 E-80 F{extruder_move_speed * 60}
    {% endif %}

    # Dynamically set the required output variables for Happy Hare
    SET_GCODE_VARIABLE MACRO=_MY_MMU_CUT_TIP VARIABLE=output_park_pos VALUE={extruder_park_pos}

    # Restore state and optionally position (usually on wipetower)
    RESTORE_GCODE_STATE NAME=_MMU_CUT_TIP_state MOVE={1 if restore_position else 0} MOVE_SPEED={travel_speed}

[gcode_macro _MY_MMU_DO_CUT]
  gcode:
      ## Adjust to your printer
      {% set speed = params.F|default(6000)|int %}
      {% set cutting_speed = 600|int %}
      {% set safe_x = 10 %}
      {% set safe_y = 0.5 %}
      {% set pin_x = 0.5 %}
      {% set pin_y = 0.5 %}
      {% set cut_x = 6 %}
      {% set cut_y = 16.5 %}
    G90
    {% if printer.gcode_move.gcode_position.x < safe_x %}
      G0 X{safe_x} F{speed}
    {% endif %}
    G0 X{safe_x} Y{safe_y} F{speed}
    G0 X{pin_x} Y{pin_y} F{speed}
    G0 X{cut_x} Y{cut_y} F{cutting_speed}
    G0 X{pin_x} Y{pin_y} F{speed}
    G0 X{safe_x} Y{safe_y} F{speed}



[gcode_macro _MY_MMU_CUT_TIP_VARS]
description: Happy Hare toolhead tip cutting macro configuration variables
gcode: # Leave empty

# Whether the toolhead tip cutting macro will return toolhead to initial position
# after the cut is complete. If using parking logic it is better to disable this
variable_restore_position       : False		; True = return to initial position, False = don't return

# Distance from the internal nozzle tip to the cutting blade. This dimension
# is based on your toolhead and should not be used for tuning
# Note: If you have a toolhead sensor this variable can be automatically determined!
# Read https://github.com/moggieuk/Happy-Hare/wiki/Blobbing-and-Stringing
variable_blade_pos              : 69		; TUNE ME: Distance in mm from internal nozzle tip

# Distance to retract prior to making the cut, measured from the internal nozzle
# tip. This reduces wasted filament (left behind in extruder) but might cause a
# clog if set too large. This must be less than 'blade_pos'
# Note: the residual filament left in nozzle ('toolhead_ooze_reduction') is
# subtracted from this value so make sure toolhead is calibrated
variable_retract_length         : 58		; TUNE ME: 5mm less than 'blade_pos' is a good starting point

# Whether to perform a simple tip forming move after the initial retraction
# Enabling this adds gives some additional cooling time of molten filament and
# may help avoid potential clogging on some hotends
variable_simple_tip_forming     : True		; True = Perform simple tip forming, False = skip

# Change to X and Y stepper current during the cut operation. Technically any stepper
# current can be modified by adding the stepper name to the list. Be careful not to
# overload your steppers but generally up to 150% is safe
variable_cut_axis_steppers      : 'stepper_x, stepper_y'	; Comma separated list of stepper names to increase current for cutting
variable_cut_stepper_current    : 100				; % of stepper current to use for cutting motion (100 to disable)

# This should be the position of the toolhead where the cutter arm just
# lightly touches the depressor pin
variable_cutting_axis           : "x"		; "x" or "y". Determines cut direction (axis) during cut motion, used for park distance
variable_pin_loc_xy             : 14, 250	; x,y coordinates of depressor pin

# This distance is added (or subtracted if negative) to "pin_loc_x" or "pin_loc_y" depending on the 'cutting_axis'
# This is used to determine the starting position and to create a small safety distance that aids in generating momentum.
# For example, Filametrix cuts along X axis towards Xmin requiring a positive value, whereas A4T-A4C cuts on Y axis towards
# Ymax requring a negative number
variable_pin_park_dist          : 5.0		; Distance in mm (+ve or -ve) from 'variable_pin_loc_xy'

# Position of the toolhead when the cutter is fully compressed. Should leave a small headroom from the
# extremes of your printer edges (e.g. it should be a bit larger than 0, or whatever Xmin is) to avoid
# banging the toolhead or gantry. Typically x position will match x in pin_loc_xy if cutting in y direction
# or y position will match y in pin_loc_xy if cutting in x direction, but diagonal cuts are possible
variable_pin_loc_compressed_xy  : 0.5, 250	; x,y coordinates of fully depressed location

# Retract length and speed after the cut so that the cutter blade doesn't
# get stuck on return to origin position
variable_rip_length             : 1.0		; Distance in mm to retract to aid lever decompression (>= 0)
variable_rip_speed              : 3		; Speed mm/s

# Pushback of the remaining tip from the cold end into the hotend. This does
# not have to push back all the way, just sufficient to ensure filament fragment
# stays in hot end and the "nail head" of the cut is pushed back past the
# PTFE/metal junction so it cannot cause clogging problems on future loads.
# Cannot be larger than 'retract_length' - `toolhead_ooze_reduction`
variable_pushback_length        : 20.5		; TUNE ME: PTFE tube length + 3mm is good starting point
variable_pushback_dwell_time    : 0		; Time in ms to dwell after the pushback

# Speed related settings for tip cutting
# Note that if the cut speed is too fast, the steppers can lose steps.
# Therefore, for a cut:
# - We first make a fast move to accumulate some momentum and get the cut
#   blade to the initial contact with the filament
# - We then make a slow move for the actual cut to happen
variable_travel_speed           : 150		; Speed mm/s
variable_cut_fast_move_speed    : 32		; Speed mm/s
variable_cut_slow_move_speed    : 8		; Speed mm/s
variable_evacuate_speed         : 150		; Speed mm/s
variable_cut_dwell_time         : 50		; Time in ms to dwell at the cut point
variable_cut_fast_move_fraction : 1.0		; Fraction of the move that uses fast move
variable_extruder_move_speed    : 25		; Speed mm/s for all extruder movement

# Safety margin for fast vs slow travel. When traveling to the pin location
# we make a safer but longer move if we are closer to the pin than this
# specified margin. Usually setting these to the size of the toolhead
# (plus a small margin) should be good enough
variable_safe_margin_xy         : 30, 30	; Approx toolhead width +5mm, height +5mm)

# If gantry servo option is installed, enable the servo and set up and down
# angle positions
variable_gantry_servo_enabled   : False		; True = enabled, False = disabled
variable_gantry_servo_down_angle: 55		; Angle for when pin is deployed
variable_gantry_servo_up_angle  : 180		; Angle for when pin is retracted
